# Misc. directories and files
.claude
.vscode

# Data
Cyclone-Data
Yolo_Bug_Data
Bug-Data
cyclone_dataset
cyclone_data_clean
cyclone_data_split

# Model Weights (not uploaded due to repo storage limits)
model_weights

# Experiment runner checkpoints (large .pt files)
/results

# Misc Validation runs logging
Validation_results

# Python cache files
miscellaneous_code\__pycache__
__pycache__

# Recap files for team syncing
CHANGES_RECAP_21_05_26.md
CHANGES_RECAP_11_05_26.md
